#clockcontainer{
    position: relative;
    margin: auto;
   /* border: 2px solid red; */
    height: 450px;
    width: 450px;
    background: url(clock3.jpg) no-repeat;
    background-size: 100%; 
    /* background-size: cover; */
    
}
#hours, #minute, #second{
    position: absolute;
    background: white;
    border-radius: 10px;
    transform-origin: bottom;
}
#hours{
    width: .5%;
    height: 10%;
    top: 24%;
    /* left: 49%; */
     left: 51%; 
    opacity: 0.8;
    /* display: none;
    /* display: none; */
}
#minute{
    width: .34%;
    height: 13%;
    top: 21%;
     left: 51%; 
    /* left: 54%; */
    opacity: 0.8;
     /* display: none; */
}
#second{
    width: .15%;
    height: 15%;
    top: 19%;
    /* left: 47%; */
    left: 51%;
    opacity: 0.8;
    /* display: none; */
    /* transform-origin: 67% 76.3%; */


}

.dot {
    position: absolute;
    height: 13px;
    width: 14px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    top: 32%;
    left: 50%;
}